// Your own styles


/*
* {
border: 1px solid red;
}
li {
    color: gray;
}
*/
.ourStoryImg {
    height: 19rem;
    border: 1px solid black;
    border-radius: 120px;
}

.card {
    height: 600px;
}
